<template>
    <nav class="slds-nav-vertical slds-p-around_none navigation-menu">
        <!-- No extra data attributes or onClick needed -->
        <a href="/home" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Home</span>
        </a>
        <a href="/projects" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Projects</span>
        </a>
        <a href="/experience" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Experience</span>
        </a>
        <a href="/blogs" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Blogs</span>
        </a>
        <a href="/certifications" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Certifications</span>
        </a>
        <a href="/resume" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Resume</span>
        </a>
        <a href="/contact" class="slds-nav-vertical__item nav-item">
            <span class="slds-nav-vertical__action slds-truncate">Contact</span>
        </a>
    </nav>
</template>