<template>
    <div class="slds-scope">
        <div class="education-container slds-p-around_large">
            <div class="slds-text-heading_large slds-m-bottom_large">Education</div>

            <div class="timeline">
                <template for:each={educations} for:item="edu" for:index="index">
                    <div key={edu.id} class="timeline-item slds-p-bottom_medium">
                        <div class="timeline-marker"></div>
                        <div class="slds-m-bottom_medium">
                            <div class="header-group">
                                <div class="institution slds-text-heading_medium">
                                    {edu.institution}
                                </div>
                                <div class="location slds-text-body_small">
                                    {edu.location}
                                </div>
                            </div>
                            <div class="degree-details">
                                <div class="degree-title slds-text-body_regular">
                                    {edu.title}
                                    <template if:true={edu.specialization}>
                                            : {edu.specialization}
                                        
                                    </template>
                                </div>
                                <div class="year-range slds-text-body_small">
                                    {edu.startYear} - {edu.endYear}
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>