<template>
    <!-- This container uses .slds-col from your code, but you can add slds-grid for alignment -->
    <div class="slds-col social-links slds-grid slds-grid_align-center slds-gutters">
        <a href="https://github.com/andy4697" class="social-icon" target="_blank" aria-label="GitHub">
            <i class="fab fa-github slds-icon slds-icon-text-default"></i>
        </a>
        
        <a href="https://www.linkedin.com/in/anudeep-appikatla" class="social-icon" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin slds-icon slds-icon-text-default"></i>
        </a>
        <a href="https://twitter.com/aanudeep4697" class="social-icon" target="_blank" aria-label="Twitter">
            <i class="fab fa-x-twitter slds-icon slds-icon-text-default"></i>
        </a>
        <a href="https://trailblazer.me/id/aanudeep" class="social-icon" target="_blank" aria-label="Trailhead Profile">
            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                <use xlink:href="/public/assets/icons/utility-sprite/svg/symbols.svg#trailhead"></use>
            </svg>
        </a>
    </div>
</template>