.social-links {
  margin: 0; 
  padding: 3px; 
  position: absolute;
  bottom: 0;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--nav-text-color);
  margin-right: 1rem;
  transition: color 0.2s ease;
}

.social-icon:hover {
  color: var(--primary-color);
}