.social-links {
  margin: 0; 
  padding: 3px; 
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--nav-text-color);
  margin-right: 1rem;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  text-decoration: none; /* Prevent default underline */
}

.social-icon:hover {
  color: var(--primary-color);
  text-decoration: none; /* Explicitly prevent underline on hover */
}
/* Specific styling for the Trailhead icon */
.social-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor; /* This will inherit the color from social-icon */
}

/* Ensure all icons are aligned */
.social-icon i,
.social-icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
