<template>
    <!-- This container uses .slds-col from your code, but you can add slds-grid for alignment -->
    <div class="slds-col social-links slds-grid slds-grid_align-center slds-gutters">
        <a href="https://github.com/yourusername" class="social-icon" target="_blank" aria-label="GitHub">
            <i class="fab fa-github slds-icon slds-icon-text-default"></i>
        </a>
        <a href="https://medium.com/@yourusername" class="social-icon" target="_blank" aria-label="Medium">
            <i class="fab fa-medium slds-icon slds-icon-text-default"></i>
        </a>
        <a href="https://www.linkedin.com/in/yourusername" class="social-icon" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin slds-icon slds-icon-text-default"></i>
        </a>
        <a href="https://www.buymeacoffee.com/yourusername" class="social-icon" target="_blank" aria-label="Buy Me a Coffee">
            <i class="fas fa-coffee slds-icon slds-icon-text-default"></i>
        </a>
    </div>
</template>