<template>
    <div class="theme-toggle-container">
        <button 
            class="theme-toggle-button" 
            onclick={toggleTheme} 
            title={buttonTitle}
            aria-label={buttonTitle}>
            <template if:true={isDarkMode}>
                <span class="material-icons">light_mode</span>
            </template>
            <template if:false={isDarkMode}>
                <span class="material-icons">dark_mode</span>
            </template>
        </button>
    </div>
</template>