<template>
    <div class="slds-scope">
        <div class="profile-container slds-p-around_large">
            <div class="slds-text-heading_large slds-m-bottom_large">Profile</div>
            
            <div class="slds-text-body_regular">
                I’m a tech enthusiast who loves solving complex problems with simple, practical solutions. Over the years, I’ve enjoyed bridging the gap between advanced technology and everyday business needs, making processes smoother and more intuitive. I thrive in collaborative environments where creativity and continuous learning lead to real innovation, and I’m always excited to tackle new challenges head-on.
            </div>
        </div>
    </div>
</template>