<template>
    <div class="slds-scope">
        <div class="experience-container slds-p-around_large">
            <div class="slds-text-heading_large slds-m-bottom_large">Experience</div>

            <div class="timeline">
                <template for:each={experiences} for:item="job" for:index="index">
                    <div key={job.id} class="timeline-item slds-p-bottom_medium">
                        <div class="timeline-marker"></div>
                        <div class="slds-m-bottom_medium">
                            <div class="company slds-text-heading_medium slds-m-bottom_x-small">
                                {job.company}
                            </div>
                            <div class="job-details">
                                <span class="title">{job.title}</span>
                                <span class="separator hide-mobile">|</span>
                                <span class="dates">{job.startDate} - {job.endDate}</span>
                                <span class="separator hide-mobile">|</span>
                                <span class="location">{job.location}</span>
                            </div>
                            <div class="description slds-text-body_regular slds-m-top_small">
                                {job.description}
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>