<template>
    <div class="blog-item-container" onclick={navigateToBlog} style="cursor: pointer;">
        <div class="blog-image-container">
            <img 
                src={imageUrl} 
                alt={title} 
                class="blog-image"
            />
        </div>
        
        <div class="blog-content">
            <div class="blog-title">
                {title}
                <template if:true={isNew}>
                    <span class="new-badge">NEW</span>
                </template>
            </div>
            
            <p class="blog-summary">{summary}</p>
            
            <div class="category-pills">
                <template for:each={formattedCategories} for:item="category">
                    <span 
                        key={category.id} 
                        class={category.class}
                    >
                        {category.name}
                    </span>
                </template>
            </div>
        </div>
    </div>
</template>