.blog-item-container {
    width: 100%;
    background-color: var(--card);
    margin-bottom: 1rem;
    border-radius: var(--radius);
    transition: box-shadow 0.2s ease-in-out, background-color 0.3s ease;
    padding: 1.5rem;
    color: var(--card-foreground);
  }
  
  /* On hover, show a box shadow */
  .blog-item-container:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  }
  
  [data-theme="dark"] .blog-item-container:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  }