<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css"/>
    <link rel="stylesheet" href="$assetsDir/global.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Anudeep Appikatla</title>
</head>
<body>
    <components-toggle-theme onthemechange={handleThemeChange}></components-toggle-theme>
    
    <div class="layout-container">
        <components-sidebar></components-sidebar>
        <div class="content-area">
            {{{body}}}
            <components-footer></components-footer>
        </div>
    </div>
    {{{lwr_resources}}}
</body>
</html>